<div class="">
	<form action="/message" method="post">
		<input type="text" name="message" placeholder="My Favorite Hero is...">
		<button type="submit">Send!</button>
	</form>


	<ul>
		<li>Nanana</li>
		<li>Nanana</li>
		<li>Nanana</li>
		<li>Nanana</li>
		<li>Nanana</li>
		<li>Nanana</li>
		<li>Nanana</li>
		<li>Nanana</li>
		<li>Nanana</li>
		<li>Nanana</li>
	</ul>
	<h2>{{message}}</h2>
</div>